.conteúdo-principal-table-parágrafo {
    font-size: 1.13em;
    color: white;
    text-align: justify;
    margin-bottom: 0.62em;
    margin-right: 4.38em;
    line-height: 1.5em;
}

.conteúdo-principal-table-lista {
    font-size: 1.13em;
    margin-left: 1.25em;
    color: white;
    text-align: justify;
    margin-right: 0.63em;
}

.conteúdo-principal-imagens {
    margin-top: 0.32em;
    height: 8.75em;
    width: 21.25em;
    display: block;
}