.conteúdo-principal-table-parágrafo {
    font-size: 18px;
    color: white;
    text-align: justify;
    margin-bottom: 10px;
    margin-right: 70px;
}

.conteúdo-principal-table-lista {
    font-size: 18px;
    margin-left: 20px;
    color: white;
    text-align: justify;
    margin-right: 10px;

}

.conteúdo-principal-imagens {
    margin-top: 5px;
    height: 140px;
    width: 340px;
    display: block;
}