.conteúdo-principal-subtítulo {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(255, 217, 0);
    margin-bottom: 0.3em;
    margin-top: 0.6em;
}

.conteúdo-principal-table-parágrafo {
    font-size: 1.05em;
    color: white;
    text-align: justify;
    margin-bottom: 1.1em;
    line-height: 1.5em;
}

.conteúdo-principal-table-coluna {
    padding-left: 4em;
}

.conteúdo-principal-table-lista {
    font-size: 1.05em;
    line-height: 1.5em;
    margin: 0em 0.6em 0em 1.25em;
    color: white;
    text-align: justify;
}

.conteúdo-principal-table-li {
    margin-top: 0.5em;
}